@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap");

body {
  overflow:hidden;
}

* {
  box-sizing: border-box;
}

.curtain {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  width: 100vw;
}

a {
  font-size: 1rem;
  cursor: pointer;
  height: 28px;
  transition: border-bottom 100ms;
  border-bottom: 0px solid black;
}

a:hover {
  border-bottom: 2px solid black;
}

.active {
  border-bottom: 2px solid black;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.white-panel {
  background: #f8f8f8;
  height: 800px;
  width: 100%;
  padding-bottom: 40px;
  z-index: -1;
  margin-top: -380px;
  margin-bottom: -460px;
  margin-left: 120px;
}


.img-btn-container {
  width: 260px;
}

@media screen and (max-width: 600px) {
  .top-photo-box {
    margin-left: 0px;
  }
  .img-btn-container {
    padding: 16px;
    width: 152px;
  }
  .white-panel {
    margin-left: 0;
  }
}
